.filanueva {
  background-color: aqua;
}
.visor {
  background-color: aqua;
  padding: 0.2em;
  border-radius: 0.2em;
}
li {padding-bottom: 0.5em;}
#divEstadisticas {
  margin: 2em;
  padding: 0.5em;
  border-radius: 2em;
  height: auto;
  width: auto;
  max-width: 50em;
  float: right;
  background-color: yellow;
}
#divFormulario{
  margin: 2em;
  padding: 0.5em;
  border-radius: 2em;
  max-width: 30em;
  float: left;
  height: auto;
  width: auto;
  background-color: blue;
}
.divTabla{
  margin: 2em;
}

td, th{
  width:1px;
  white-space:nowrap;
}
